<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="teststyle.css" />
<script type="text/javascript" src="testscript.js"></script>

<script>

</script>

</head>
<body>

<div class="container">
  <h2>Modal Example</h2>
  <!-- Trigger the modal with a button -->
  <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <!-- <div class="modal-header"> -->
          <!-- <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <!-- <!-- <h4 class="modal-title">Modal Header</h4> --> 
        <!-- </div> -->
        <div class="modal-body">
          <a href="#" class="btn less back"><img src="left arrow.png" height="20" width="20"> &nbsp; <span class="mid">스토리로 돌아가기</span></a>
		  <p class="title"><strong>잠깐!</strong> 펀딩과 쇼핑이 어떻게 다른지 확인 후 펀딩을 진행하세요</p>
		
		<div class="wz-form large" id="reward-notice-form">
          <dl>
            <dt><input type="checkbox" id="check1" value="Y"><label for="check1"> &nbsp; 바로 결제되지 않아요</label></dt>
            <dd>
              <p>지금 펀딩하시면 <strong>결제 예약</strong>되며, 목표금액 달성 시, <strong>2018.03.26</strong>에 모두 함께 결제됩니다.</p>
              <p><em>수수료 타입에 따라 목표 금액과 상관없이 진행되는 경우도 있습니다.</em></p>
            </dd>
						<dt><input type="checkbox" id="check2" value="Y"><label for="check2"> &nbsp; 펀딩 종료 후에는 취소할 수 없어요</label></dt>
            <dd>
              <p>리워드 결제 예약 취소와 변경은 <strong>프로젝트 펀딩기간 중</strong>에만 가능합니다.<br>펀딩 취소는 <strong>2018.03.25</strong>까지 가능합니다. 이후로는 취소가 불가합니다.
            </p></dd>
            <dt><input type="checkbox" id="check3" value="Y"><label for="check3"> &nbsp; 바로 리워드가 발송되지 않아요</label></dt>
            <dd>
              <p>리워드는 메이커가 <strong>약속한 날짜</strong>에 발송됩니다.<br>선택한 리워드의 발송 예정일을 확인한 후에 펀딩해 주세요.</p>
              <p><em>리워드 펀딩 특성상 발송이 지연되거나 불가할 수 있습니다.<br>스토리 하단의 리워드 발송 예상 변동 기간 및 교환, 환불, AS 정책을 참고해주세요.</em></p>
            </dd>
          </dl>
        </div>

        </div>
        <div class="modal-footer" id="reward-footer">
         <button type="button" class="btn block continue gray" onclick="closeLyPop();" data-dismiss="modal"><b>계속해서 펀딩하기</b></button>
        </div> 
      </div>
      
    </div>
  </div>
  
</div>
<!-- 와디즈 카피 -->

<div class="reward-body">

<div class="wpurchase-title">
    			<a href="#"><img src="left-arrow2.png" height="20" width="20"> &nbsp; <span>스토리로 돌아가기</span></a>
    			<h2>질분비물 완벽흡수, 單色 단색 '논샘팬티' 프로젝트<span class="name"><em style="background-image:url(https://cdn.wadiz.kr/wwwwadiz/green002/2018/0202/20180202124822471_16285.jpg/wadiz/quality/95/optimize/q?&gifq=70&w=300)"></em>논샘팬티(주식회사 단색)</span></h2>
    		</div>
    	
    		<div class="wpurchase-wrap">
    			<div class="wpurchase-step">
    				<ol>
    					<li class="active"><em>리워드<br />선택</em></li>
    					<li><em>결제 예약</em></li>
    					<li><em>소문내기</em></li>    					
    				</ol>
    			</div>

<div class="reward-list">
	    					<ul>
	    						
	    						<li>
	    							<dl class="reward-box ">
	    								<dt><input type="checkbox" id="ckrw33830" class="reward-check" name="rewardId" value="33830"  /><label for="ckrw33830"></label></dt>
	    								<dd>
	    									<input type="hidden" id="amountRw33830" value="37000" />
	    									<input type="hidden" id="remainCnt33830" class="remain-cnt" value="110" />
	    									<input type="hidden" id="limitCnt33830" class="limit-cnt" value="200" />
	    									<label for="ckrw33830">
	    									<p class="sum">37,000원 펀딩합니다.</p>
	    									<p class="number"> [얼리버드] 논샘팬티 (1ea)
		    									
		    										
		    										
		    										<em class="remains">(110개 남음)</em>
		    									
		    								</p>
	    									<p class="text">질분비물 완벽흡수, <br>패드가 필요없는 논샘팬티!!<br><br>데일리로 간편하게 논샘-라이트 <br>배꼽 아래까지 편안하게 잡아주는 논샘-하이웨스트<br>선택해서 가져가세요!</p>
	    									<p class="date"> 
	    										
	    										배송비 2,500원
	    										 | 리워드 제공 예상일 : 
	    										 
	    										 	
	    												
	    										 		
													    
														<em>2018년 06월</em>
														<em>초 (1~10일) 예정</em>
	    										 	
	    										 	
	    										 
											</p>
	    									</label>
	    									<div class="checked-area">
	    										<div class="amount">
	    											<p class="title">수량</p>
	    											<p class="input-area">
	    												<button type="button" onclick="changeQty('minus', 33830)" class="icon-remove-box-o"></button>
	    												<input type="text" id="qty33830" class="reward-qty" value="0" />
	    												<button type="button" onclick="changeQty('plus', 33830)" class="icon-add-box-o"></button>
	    											</p>
	    										</div>
	    										 
	    									</div>
	    								</dd>
	    							</dl>
	    						</li>

<li>
	    							<dl class="reward-box soldout">
	    								<dt><input type="checkbox" id="ckrw33829" class="reward-check" name="rewardId" value="33829" disabled="disabled" /><label for="ckrw33829"></label></dt>
	    								<dd>
	    									<input type="hidden" id="amountRw33829" value="18500" />
	    									<input type="hidden" id="remainCnt33829" class="remain-cnt" value="0" />
	    									<input type="hidden" id="limitCnt33829" class="limit-cnt" value="20" />
	    									<label for="ckrw33829">
	    									<p class="sum">18,500원 펀딩합니다.</p>
	    									<p class="number">[슈퍼얼리버드] 논샘팬티 (1ea)
		    									
		    										
		    										<em class="soldout">(마감)</em>
		    										
		    									
		    								</p>
	    									<p class="text">20개 한정!<br><br>질분비물 완벽흡수, 패드가 필요없는 논샘팬티<br><br>50% 할인가로 가장먼저 만나보세요!<br><br>데일리로 간편하게 논샘-라이트 <br>배꼽 아래까지 편안하게 잡아주는 논샘-하이웨스트<br>선택해서 가져가세요!</p>
	    									<p class="date"> 
	    										
	    										배송비 2,500원
	    										 | 리워드 제공 예상일 : 
	    										 
	    										 	
	    												
	    										 		
													    
														<em>2018년 06월</em>
														<em>초 (1~10일) 예정</em>
	    										 	
	    										 	
	    										 
											</p>
	    									</label>
	    									<div class="checked-area">
	    										<div class="amount">
	    											<p class="title">수량</p>
	    											<p class="input-area">
	    												<button type="button" onclick="changeQty('minus', 33829)" class="icon-remove-box-o"></button>
	    												<input type="text" id="qty33829" class="reward-qty" value="0" />
	    												<button type="button" onclick="changeQty('plus', 33829)" class="icon-add-box-o"></button>
	    											</p>
	    										</div>
	    										
	    									</div>
	    								</dd>
	    							</dl>
	    						</li>
	    							
	    					</ul>
	    				</div>

</div>

</body>
</html>
