@charset "UTF-8";

/* 로그인 모달 */
  <!--
  @import url(http://fonts.googleapis.com/css?family=Roboto);

/****** ITEMMANAGER MODAL ******/
@media (min-width: 576px){
	.modal-dialog {
	    max-width: 1000px;
	    margin: 30px auto;
	}
}

.itemManagermodal-container {
  padding: 30px;
  max-width: 800px;        /*여기 크기가 모달 width값*/
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.itemManagermodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.itemManagermodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
  height:40px;
}

.itemManagermodal-container input[type=text], input[type=password] {
  height: 40px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.itemManagermodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.itemManagermodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
	border-radius: 3px;
}

.itemManagermodal-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  /*padding: 17px 0px;*/
  font-family: roboto;
  font-size: 14px;
}

.itemManagermodal-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #F7D358;
}

.itemManagermodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.itemManager-help{
  font-size: 12px;
}
.modal-dialog{pointer-events:unset !important;}

.itemManager-body{
	
}


/* 선물 안 아이템 테이블 -----------------------------------------------------*/
/* .modal-item-table{
    border-collapse: collapse;
    width: 100%;
    background-color:white;
    margin-bottom:0px;
}
.modal-item-table th, 
.modal-item-table td{
	padding: 8px;
    text-align: center;
}
.modal-item-table th{
	background-color: rgba(0,0,0,0.1);
}
.modal-item-table td{
	 border-top: 1px solid #ddd;
	 
}
.modal-item-table tr{
	transition: 0.4s;
}

.modal-item-add-div{
	padding: 1.5em;
	margin: 0.5em;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: .25rem;
	background-color:white;
} */


/* .modal-item-table .modal-item-check{
	background-color: rgba(232,74,74,0.4);
	transition: 0.4s;
}
 */