<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminmapper">

	<resultMap id="Aalarmmap" type="AAlarm">
		<result property="membercount" column="membercount" />
		<result property="blacklistcount" column="blacklistcount" />
		<result property="projectcount" column="projectcount" />
		<result property="productcount" column="productcount" />
		<result property="offprojectcount" column="offprojectcount" />
		<result property="questioncount" column="questioncount" />
		<result property="reportcount" column="reportcount" />
	</resultMap>
	
	<select id="adminalarm" resultMap="Aalarmmap">
		<![CDATA[
			SELECT * FROM A_ALARM 
		]]>
	</select>
	
	<resultMap id="Taboomap" type="Taboo">
		<result property="content" column="content" />
	</resultMap>
	
	<select id="taboolist" resultMap="Taboomap">
		<![CDATA[
			SELECT * FROM TABOO 
		]]>
	</select>
	
	<insert id="inserttaboo" parameterType="Taboo">
		<![CDATA[
			INSERT INTO TABOO VALUES(#{ content })
		]]>
	</insert>
	
	<resultMap id="AReportmap" type="AReport">
		<result property="rnum" column="rnum" />
		<result property="report_id" column="report_id" />
		<result property="report_category_name" column="report_category_name" />
		<result property="project_category_id" column="project_category_id" />
		<result property="project_id" column="project_id" />
		<result property="project_reply_id" column="project_reply_id" />
		<result property="board_id" column="board_id" />
		<result property="board_reply_id" column="board_reply_id" />
		<result property="black_name" column="black_name" />
		<result property="report_reason" column="report_reason" />
		<result property="member_name" column="member_name" />
		<result property="report_date" column="report_date" />
		<result property="report_project_name" column="report_project_name" />
		<result property="reply_content" column="reply_content" />
		<result property="report_count" column="report_count" />
		<result property="report_read_flag" column="report_read_flag" />
	</resultMap>
	
	<select id="reportlist" resultMap="AReportmap">
		<![CDATA[
			SELECT * FROM A_REPORT 
		]]>
	</select>
	
	<select id="reportdetail" resultType="AReport" parameterType="int">
		<![CDATA[
			SELECT * FROM A_REPORT WHERE 
			REPORT_ID = #{ report_id }
		]]>
	</select>
	
	<delete id="replyDelete" parameterType="AReport">
		<if test='report_category_name == "프로젝트 댓글 신고"'>
			<![CDATA[
				DELETE FROM PROJECT_REPLY WHERE PROJECT_REPLY_ID = #{ project_reply_id }
			]]>
		</if>
		<if test='report_category_name == "게시글 댓글 신고"'>
			<![CDATA[
				DELETE FROM BOARD_REPLY WHERE BOARD_REPLY_ID = #{ board_reply_id }
			]]>
		</if>
	</delete>
	
	<update id="reportAUpdate" parameterType="int">
		<![CDATA[
			UPDATE REPORT SET REPORT_READ_FLAG='Y' WHERE REPORT_ID=#{ report_id }
		]]>
	</update>
	
	<update id="reportBupdate" parameterType="int">
		<![CDATA[
			UPDATE BOARD SET REPORT_COUNT = 100 WHERE BOARD_ID = #{ board_id }
		]]>
	</update>
	
	<select id="searchReport" parameterType="String" resultMap="AReportmap">
		<![CDATA[
			SELECT * FROM A_REPORT WHERE REPORT_CATEGORY_NAME = #{ report_category_name }
		]]>
	</select>
	
	<resultMap id="AQuestionmap" type="AQuestion">
		<result property="question_id" column="question_id" />
		<result property="question_category_name" column="question_category_name" />
		<result property="receive_member_name" column="receive_member_name" />
		<result property="send_member_name" column="send_member_name" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="re_content" column="re_content" />
		<result property="send_creation_date" column="send_creation_date" />
		<result property="receive_creation_date" column="receive_creation_date" />
	</resultMap>
	
	<select id="questionlist" resultMap="AQuestionmap">
		<![CDATA[
			SELECT * FROM A_QUESTION WHERE RECEIVE_MEMBER_NAME = '관리자' OR SEND_MEMBER_NAME = '관리자'
		]]>
	</select>
	
	<select id="questiondetail" resultType="AQuestion" parameterType="int">
		<![CDATA[
			SELECT * FROM A_QUESTION WHERE QUESTION_ID = #{ question_id }
		]]>
	</select>
	
	<update id="updatequestion" parameterType="AQuestion">
		<![CDATA[
			UPDATE QUESTION SET RE_CONTENT= #{ re_content } , RECEIVE_CREATION_DATE = SYSDATE WHERE QUESTION_ID = #{ question_id }
		]]>
	</update>
	
	<select id="norecontent" resultMap="AQuestionmap">
		<![CDATA[
			SELECT * FROM A_QUESTION WHERE (RECEIVE_MEMBER_NAME = '관리자' OR SEND_MEMBER_NAME = '관리자') AND RE_CONTENT IS NULL
		]]>
	</select>
	
	<select id="okrecontent" resultMap="AQuestionmap">
		<![CDATA[
			SELECT * FROM A_QUESTION WHERE (RECEIVE_MEMBER_NAME = '관리자' OR SEND_MEMBER_NAME = '관리자') AND RE_CONTENT IS NOT NULL
		]]>
	</select>
	
	<resultMap id="AProjectmap" type="AProject">
		<result property="rnum" column="rnum" />
		<result property="project_category_name" column="project_category_name" />
		<result property="category_sub_name" column="category_sub_name" />
		<result property="project_id" column="project_id" />
		<result property="project_name" column="project_name" />
		<result property="member_name" column="member_name" />
		<result property="creation_date" column="creation_date" />
		<result property="project_request_flag" column="project_request_flag" />
		<result property="project_onoff_flag" column="project_onoff_flag" />
		<result property="target_amount" column="target_amount" />
		<result property="report_count" column="report_count" />
		<result property="start_date" column="start_date" />
		<result property="end_date" column="end_date" />
		<result property="spon" column="spon" />
		<result property="ing_flag" column="ing_flag" />
		<result property="refund_flag" column="refund_flag" />
	</resultMap>
	
	<select id="aproListCount" resultType="int" >
		<![CDATA[
			SELECT COUNT(*) FROM A_PROJECT
		]]>	
	</select>
	
	
	<select id="selectprojectlist" resultMap="AProjectmap" resultType="list" parameterType="java.util.HashMap">
		<![CDATA[
			SELECT * FROM A_PROJECT 
			WHERE RNUM >= #{ startRow  } AND RNUM <= #{ endRow }
		]]>
	</select>
	
	<select id="selectoffproject" resultMap="AProjectmap" >
		<![CDATA[
			SELECT * FROM A_PROJECT WHERE PROJECT_REQUEST_FLAG='Y' OR PROJECT_REQUEST_FLAG='W'
		]]>
	</select>
	
	<update id="ponupdate" parameterType="String">
		<![CDATA[
			UPDATE PROJECT SET PROJECT_ONOFF_FLAG='Y',PROJECT_REQUEST_FLAG='N', START_DATE = SYSDATE 
			WHERE PROJECT_ID = #{ project_id }
		]]>
	</update>
	
	<update id="poffupdate" parameterType="String">
		<![CDATA[
			UPDATE PROJECT SET PROJECT_ONOFF_FLAG='N' WHERE PROJECT_ID = #{ project_id }
		]]>
	</update>
	
	<update id="pwaitupdate" parameterType="String">
		<![CDATA[
			UPDATE PROJECT SET PROJECT_REQUEST_FLAG='W' 
			WHERE PROJECT_ID = #{ project_id }
		]]>
	</update>
	
	<select id="memberProject" parameterType="String" resultMap="AProjectmap">
		<![CDATA[
			SELECT * FROM A_PROJECT WHERE START_DATE IS NOT NULL AND MEMBER_NAME= #{ member_name }
		]]>
	</select>
	
	<select id="searchCProject" parameterType="String" resultMap="AProjectmap">
		<![CDATA[
			SELECT * FROM A_PROJECT WHERE START_DATE IS NOT NULL AND PROJECT_CATEGORY_NAME = #{ cname }
		]]>
	</select>
	
	<select id="searchRProject" resultMap="AProjectmap">
		<![CDATA[
			SELECT * FROM A_PROJECT WHERE START_DATE IS NOT NULL AND ING_FLAG = 'N' AND SPON < 100 ORDER BY END_DATE DESC
		]]>
	</select>
	
	<select id="searchTProject" parameterType="String" resultMap="AProjectmap">
		<![CDATA[
			SELECT * FROM A_PROJECT WHERE PROJECT_NAME LIKE #{ title }
		]]>
	</select>
	
	<resultMap id="AMembermap" type="AMember">
		<result property="rnum" column="rnum" />
		<result property="member_id" column="member_id" />
		<result property="member_name" column="member_name" />
		<result property="email" column="email" />
		<result property="phone" column="phone" />
		<result property="total_report_count" column="total_report_count" />
		<result property="black_flag" column="black_flag" />
		<result property="profile_img_oriname" column = "profile_img_oriname" />
		<result property="profile_img_rename" column = "profile_img_rename" />
		<result property="project_count" column="project_count" />
		<result property="spon_money" column="spon_money" />
	</resultMap>
	
	<select id="memlistCount" resultType="int" >
		<![CDATA[
			SELECT COUNT(*) FROM A_MEMBER 
		]]>	
	</select>
	
	<select id="selectmemberlist" resultMap="AMembermap" resultType="list" parameterType="java.util.HashMap">
		<![CDATA[
			SELECT * FROM A_MEMBER WHERE RNUM >= #{ startRow  } AND RNUM <= #{ endRow }
		]]>
	</select>
	
	<select id="memberDetail" parameterType="String" resultType="AMember">
		<![CDATA[
			SELECT * FROM A_MEMBER WHERE MEMBER_NAME = #{ member_name }
		]]>	
	</select>
	
	<update id="memImgDelete" parameterType="String">
		<![CDATA[
			UPDATE MEMBER SET PROFILE_IMG_ORINAME = NULL , PROFILE_IMG_RENAME = NULL 
			WHERE MEMBER_NAME = #{ member_name }
		]]>
	</update>
	
	<update id="memberBlack" parameterType="String">
		<![CDATA[
			UPDATE MEMBER SET BLACKLIST_FLAG = 'Y'
			WHERE MEMBER_NAME = #{ member_name }
		]]>
	</update>
	
	<delete id="memberDelete" parameterType="String">
		<![CDATA[
			DELETE FROM MEMBER WHERE MEMBER_NAME = #{ member_name }
		]]>
	</delete>
	
	<select id="searchMember" parameterType="String" resultMap="AMembermap">
		<![CDATA[
			SELECT * FROM A_MEMBER WHERE MEMBER_NAME LIKE #{ searchM }
		]]>	
	</select>
	
	<resultMap id="NoticeMap" type="Notice">
		<result property="notice_id" column="notice_id" />
		<result property="title" column="title" />
		<result property="creation_date" column="creation_date" />
		<result property="content" column="content" />
	</resultMap>
	
	<select id="noticeList" resultMap="NoticeMap" resultType="list" parameterType="java.util.HashMap">
		<![CDATA[
			SELECT * 
			FROM (SELECT ROWNUM RNUM, NOTICE_ID, TITLE, CREATION_DATE, CONTENT
        			FROM (SELECT NOTICE_ID, TITLE, CREATION_DATE, CONTENT
            				FROM NOTICE
            				ORDER BY CREATION_DATE DESC))
			WHERE RNUM >= #{ startRow  } AND RNUM <= #{ endRow }
		]]>	
	</select>
	
	<select id="nolistCount" resultType="int" >
		<![CDATA[
			SELECT COUNT(*) FROM NOTICE 
		]]>	
	</select>
	
	<insert id="noticeInsert" parameterType="Notice">
		<![CDATA[
			INSERT INTO NOTICE VALUES((SELECT MAX(NOTICE_ID)+1 FROM NOTICE),#{ title }, SYSDATE , #{content} )
		]]>	
	</insert>
	
	<select id="noticeDetail" parameterType="int" resultType="Notice">
		<![CDATA[
			SELECT * FROM NOTICE WHERE NOTICE_ID = #{ notice_id }
		]]>	
	</select>
	
	<update id="noticeUpdate" parameterType="Notice">
		<![CDATA[
			UPDATE NOTICE SET TITLE = #{ title }, CONTENT = #{content} WHERE NOTICE_ID = #{ notice_id } 
		]]>
	</update>
	
	<delete id="noticeDelete" parameterType="int">
		<![CDATA[
			DELETE FROM NOTICE WHERE NOTICE_ID = #{ notice_id }
		]]>
	</delete>
	
	<select id="searchNotice" parameterType="String" resultMap="NoticeMap">
		<![CDATA[
			SELECT * FROM NOTICE WHERE TITLE LIKE #{ searchN } OR CONTENT LIKE #{ searchN }
		]]>
	</select>
	
	<resultMap id="astatMap" type="Astat">
		<result property="fundcount" column="fundcount" />
		<result property="prodcount" column="prodcount" />
		<result property="rnum" column="rnum" />
		<result property="money" column="money" />
		<result property="project_id" column="project_id" />
		<result property="project_name" column="project_name" />
		<result property="project_category_name" column="project_category_name" />
		<result property="ranum" column="ranum" />
		<result property="spon" column="spon" />
		<result property="member_id" column="member_id" />
		<result property="member_name" column="member_name" />
		<result property="profile_img_oriname" column = "profile_img_oriname" />
		<result property="profile_img_rename" column = "profile_img_rename" />
	</resultMap>
	
	<select id="categoryStat" resultType="AStat">
		<![CDATA[
			SELECT COUNT(CASE WHEN PROJECT_CATEGORY_ID = 'PC-FUND' THEN 1 END) AS FUNDCOUNT,
      				COUNT(CASE WHEN PROJECT_CATEGORY_ID='PC-PROD' THEN 1 END) AS PRODCOUNT
			FROM PROJECT
		]]>	
	</select>
	
 	<select id="moneyStat" resultMap="astatMap">
 		<![CDATA[
			SELECT * FROM A_MONEYSTAT
		]]>
	</select>
	
	<select id="sponStat" resultMap="astatMap">
		<![CDATA[
			SELECT * FROM A_SPONSTAT
		]]>
	</select>
	
</mapper>