<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<select id="login" resultType="Member" parameterType="Member">
		<![CDATA[
			SELECT * FROM MEMBER WHERE member_id=#{member_id} AND MEMBER_PWD = #{member_pwd}
		]]>
	</select>
	
	<delete id="deleteMember" parameterType="Member">
		<![CDATA[
			delete member where member_id=#{member_id} and member_pwd=#{member_pwd}
		]]>
	</delete>
	<update id="modifyMember" parameterType="Member">
		<if test="profile_img_oriname!=null">
		<![CDATA[
			update member set member_pwd=#{member_pwd}, phone=#{phone}, email=#{email}, address=#{address}, profile_img_oriname=#{profile_img_oriname},
			profile_img_rename=#{profile_img_rename} where member_id=#{member_id}
		]]>	
		</if>
		<if test="profile_img_oriname==null">
		<![CDATA[
			update member set member_pwd=#{member_pwd}, phone=#{phone}, email=#{email}, address=#{address}, profile_img_oriname=null,
			profile_img_rename=null where member_id=#{member_id}
		]]>	
		</if>
	</update>
	
	<select id="memberInfo" resultType="Member" parameterType="Member">
		<![CDATA[
			SELECT * FROM MEMBER WHERE member_id=#{member_id}
		]]>
	</select>
	
	<select id="joinedEmailFind" resultType="Member" parameterType="String">
		<![CDATA[
			SELECT * FROM MEMBER WHERE email = #{email}
		]]>
		
	</select>

</mapper>
