<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mystatusmapper">
	<resultMap id="projectList" type="Project">
		<result property="project_id" column="project_id" />
		<result property="projcet_category_id" column="projcet_category_id" />
		<result property="category_sub_id" column="category_sub_id" />
		<result property="project_name" column="project_name" />
		<result property="member_id" column="member_id" />
		<result property="image_oriname" column="image_oriname" />
		<result property="image_rename" column="image_rename" />
		<result property="rep_content" column="rep_content" />
		<result property="target_amount" column="target_amount" />
		<result property="creation_date" column="creation_date" />
		<result property="start_date" column="start_date" />
		<result property="end_date" column="end_date" />
		<result property="payment_date" column="payment_date" />
		<result property="refund_role" column="refund_role" />
		<result property="project_request_flag" column="project_request_flag" />
		<result property="project_onoff_flag" column="project_onoff_flag" />
		<result property="report_count" column="report_count" />
		<result property="certif_flag" column="certif_flag" />
	</resultMap>
	
	<resultMap type="MyLikes" id="Likes">
		<result property="project_id" column="project_id"/>
	</resultMap>
	

	<select id="myProject" resultMap="projectList">
		<![CDATA[
			select * from project where member_id=#{member_id} and rownum<#{size} and project_category_id='PC-FUND'
		]]>
	</select>
	<select id="myProduct" resultMap="projectList">
		<![CDATA[
			select * from project where member_id=#{member_id} and rownum<#{size} and project_category_id='PC-PROD'
		]]>
	</select>
	<select id="projectLikes" resultMap="Likes">
		<![CDATA[
			select p.image_rename ,p.project_name, p.creation_date, p.end_date
			from project p
			join likes l on(l.project_id=p.project_id) 
			where p.project_category_id='PC-FUND' and l.member_id=#{member_id} and rownum<#{size}
		]]>
	</select>
	<select id="productLikes" resultMap="Likes">
		<![CDATA[
			select p.image_rename ,p.project_name, p.creation_date, p.end_date
			from project p 
			join likes l on(l.project_id=p.project_id) 
			where p.project_category_id='PC-PROD' and l.member_id=#{member_id} and rownum<#{size}
		]]>
	</select>
	<select id="projectCount" resultType="int" parameterType="String">
		<![CDATA[
			select count(project_category_id) from project where project_category_id='PC-FUND' and member_id=#{member_id}
		]]>
	</select>
	<select id="productCount" resultType="int" parameterType="String">
		<![CDATA[
			select count(project_category_id) from project where project_category_id='PC-PROD' and member_id=#{member_id}
		]]>
	</select>
	<select id="lprojectCount" resultType="int" parameterType="String">
		<![CDATA[
			select count(p.project_category_id) from project p 
			join likes l on(p.project_id=l.project_id) 
			where p.project_category_id='PC-FUND' and l.member_id=#{member_id}
		]]>
	</select>
	<select id="lproductCount" resultType="int" parameterType="String">
		<![CDATA[
			select count(p.project_category_id) from project p 
			join likes l on(p.project_id=l.project_id) 
			where p.project_category_id='PC-PROD' and l.member_id=#{member_id}
		]]>
	</select>
</mapper>
