<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mystatusmapper">
	<resultMap id="projectList" type="Project">
		<result property="project_id" column="project_id" />
		<result property="projcet_category_id" column="projcet_category_id" />
		<result property="category_sub_id" column="category_sub_id" />
		<result property="project_name" column="project_name" />
		<result property="member_id" column="member_id" />
		<result property="image_oriname" column="image_oriname" />
		<result property="image_rename" column="image_rename" />
		<result property="rep_content" column="rep_content" />
		<result property="target_amount" column="target_amount" />
		<result property="creation_date" column="creation_date" />
		<result property="start_date" column="start_date" />
		<result property="end_date" column="end_date" />
		<result property="payment_date" column="payment_date" />
		<result property="refund_role" column="refund_role" />
		<result property="project_request_flag" column="project_request_flag" />
		<result property="project_onoff_flag" column="project_onoff_flag" />
		<result property="report_count" column="report_count" />
		<result property="certif_flag" column="certif_flag" />
	</resultMap>

	<resultMap type="QuestionCategory" id="CategoryList">
		<result property="question_category_id" column="question_category_id"></result>
		<result property="question_category_name" column="question_category_name"></result>
	</resultMap>

	<resultMap type="MyQuestion" id="MyQuestion">
		<result property="question_id" column="question_id"></result>
		<result property="question_category_id" column="question_category_id"></result>
		<result property="receive_member_id" column="receive_member_id" />
		<result property="send_member_id" column="send_member_id" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="re_content" column="re_content" />
		<result property="send_creation_date" column="send_creation_date" />
		<result property="receive_creation_date" column="receive_creation_date" />
	</resultMap>
	
	<resultMap type="MyFundPay" id="MyFundPay">
		<result property="project_id" column="project_id"/>
		<result property="project_name" column="project_name"/>
		<result property="payment_id" column="payment_id"/>
		<result property="member_id" column="member_id"/>
		<result property="gift_id" column="gift_id"/>
		<result property="item_name" column="item_name"/>
		<result property="pay_option" column="pay_option"/>
		<result property="count" column="count"/>
	</resultMap>
	
	<resultMap type="MyProdPay" id="MyProdPay">
		<result property="project_id" column="project_id"/>
		<result property="project_name" column="project_name"/>
		<result property="payment_id" column="payment_id"/>
		<result property="member_id" column="member_id"/>
		<result property="product_name" column="product_name"/>
		<result property="product_id" column="product_id"/>
		<result property="pay_option" column="pay_option"/>
		<result property="count" column="count"/>
	</resultMap>

	<select id="myProject" resultMap="projectList">
		<![CDATA[
			select * from project where member_id=#{member_id} and rownum<#{size} 
										and project_category_id='PC-FUND' order by creation_date, project_id
		]]>
	</select>
	<select id="myProduct" resultMap="projectList">
		<![CDATA[
			select * from project where member_id=#{member_id} and rownum<#{size} 
										and project_category_id='PC-PROD' order by creation_date, project_id
		]]>
	</select>
	<select id="purchaseProduct" resultType="PurchaseProduct"
		parameterType="PurchaseProduct">
		<![CDATA[
			select p.project_id ,p.image_rename, p.project_name, p.end_date, pm.payment_id, pm.pay_option
					from project p
					join payment pm on(p.project_id=pm.project_id) where pm.member_id=#{member_id} and p.project_category_id='PC-PROD'
					order by p.project_id desc, pm.payment_id desc
		]]>
	</select>
	<select id="fundingProject" resultType="FundingProject"
		parameterType="FundingProject">
		<![CDATA[
			select p.project_id ,p.image_rename, p.project_name, p.end_date, pm.payment_id, pm.pay_option
					from project p
					join payment pm on(p.project_id=pm.project_id) where pm.member_id=#{member_id} and p.project_category_id='PC-FUND'
					order by p.project_id desc, pm.payment_id desc
		]]>
	</select>

	<select id="projectLikes" resultType="MyLikes" parameterType="MyLikes">
		<![CDATA[
			select p.project_id, p.image_rename ,p.project_name, p.creation_date, p.end_date
			from project p
			join likes l on(l.project_id=p.project_id) 
			where p.project_category_id='PC-FUND' and l.member_id=#{member_id} and rownum<#{size}
			order by p.creation_date, p.project_id
		]]>
	</select>
	<select id="productLikes" resultType="MyLikes" parameterType="MyLikes">
		<![CDATA[
			select p.project_id, p.image_rename ,p.project_name, p.creation_date, p.end_date
			from project p 
			join likes l on(l.project_id=p.project_id) 
			where p.project_category_id='PC-PROD' and l.member_id=#{member_id} and rownum<#{size}
			 order by p.creation_date, p.project_id
		]]>
	</select>

	<select id="productPayment" resultMap="MyProdPay">
        <![CDATA[
            select pm.payment_id,  pc.product_id, pd.product_name, pc.count, pm.member_id, p.project_name,
            		pm.pay_option, pm.payment_date, pm.total_amount
            		from payment pm
                    join payment_count pc on(pm.payment_id=pc.payment_id)
                    join product pd on (pc.product_id=pd.product_id)
                    join project p on (p.project_id=pm.project_id)
                    where pc.product_id is not null and pm.member_id=#{member_id} and pm.payment_id=#{payment_id}
        ]]>
	</select>

	<select id="fundingPayment" resultMap="MyFundPay">
        <![CDATA[
            select pm.payment_id, pc.count, pm.member_id, p.project_name, pc.gift_id, i.item_name, pm.pay_option, 
            		pm.payment_date, pm.total_amount
            		from payment pm
                    join payment_count pc on(pm.payment_id=pc.payment_id)
                    join gift g on (g.gift_id=pc.gift_id)
                    join gifT_in_items gii on(g.gift_id=gii.gift_id)
                    join item i on (gii.item_id=i.item_id)
                    join project p on (p.project_id=pm.project_id)
                    where pc.gift_id is not null and pm.member_id=#{member_id} and pm.payment_id=#{payment_id}
        ]]>
	</select>


	<select id="projectCount" resultType="int" parameterType="String">
		<![CDATA[
			select count(project_category_id) from project where project_category_id='PC-FUND' and member_id=#{member_id}
		]]>
	</select>
	<select id="productCount" resultType="int" parameterType="String">
		<![CDATA[
			select count(project_category_id) from project where project_category_id='PC-PROD' and member_id=#{member_id}
		]]>
	</select>
	<select id="lprojectCount" resultType="int" parameterType="String">
		<![CDATA[
			select count(p.project_category_id) from project p 
			join likes l on(p.project_id=l.project_id) 
			where p.project_category_id='PC-FUND' and l.member_id=#{member_id}
		]]>
	</select>
	<select id="lproductCount" resultType="int" parameterType="String">
		<![CDATA[
			select count(p.project_category_id) from project p 
			join likes l on(p.project_id=l.project_id) 
			where p.project_category_id='PC-PROD' and l.member_id=#{member_id}
		]]>
	</select>
	<select id="fprojectCount" resultType="int" parameterType="String">
		<![CDATA[
			select count(payment_id) from payment pm
			join project p on (p.project_id=pm.project_id)
			where pm.member_id=#{member_id} and p.project_category_id='PC-FUND'
		]]>
	</select>
	<select id="pproductCount" resultType="int" parameterType="String">
		<![CDATA[
			select count(payment_id) from payment pm
			join project p on (p.project_id=pm.project_id)
			where pm.member_id=#{member_id} and p.project_category_id='PC-PROD'
		]]>
	</select>
	<select id="searchMyproject" resultType="Project" parameterType="Project">
		<![CDATA[
			select * from project
			where member_id=#{member_id} and rownum<#{size} 
					and project_category_id='PC-FUND' 
					and project_name like #{project_name}
			order by creation_date, project_id
		]]>
	</select>
	<select id="searchMyproduct" resultType="Project" parameterType="Project">
		<![CDATA[
			select * from project
			where member_id=#{member_id} and rownum<#{size} 
					and project_category_id='PC-PROD' 
					and project_name like #{project_name}
		 	order by creation_date, project_id
		]]>
	</select>

	<select id="searchProjectLikes" resultType="MyLikes"
		parameterType="MyLikes">
		<![CDATA[
			select p.project_id, p.image_rename ,p.project_name, p.creation_date, p.end_date
			from project p
			join likes l on(l.project_id=p.project_id) 
			where p.project_category_id='PC-FUND' and l.member_id=#{member_id} and rownum<#{size} and p.project_name like #{project_name}
			 order by p.creation_date, p.project_id
		]]>
	</select>
	<select id="searchProductLikes" resultType="MyLikes"
		parameterType="MyLikes">
		<![CDATA[
			select p.project_id, p.image_rename ,p.project_name, p.creation_date, p.end_date
			from project p
			join likes l on(l.project_id=p.project_id) 
			where p.project_category_id='PC-PROD' and l.member_id=#{member_id} and rownum<#{size} and p.project_name like #{project_name}
			 order by p.creation_date, p.project_id
		]]>
	</select>
	<select id="searchPurchaseProduct" resultType="PurchaseProduct"
		parameterType="PurchaseProduct">
		<![CDATA[
			select p.project_id ,p.image_rename, p.project_name, p.end_date, pm.payment_id
					from project p
					join payment pm on(p.project_id=pm.project_id) where pm.member_id=#{member_id} and p.project_name like #{project_name}
					order by p.project_id desc, pm.payment_id desc
		]]>
	</select>
	<select id="searchfundingproject" resultType="FundingProject"
		parameterType="FundingProject">
		<![CDATA[
			select p.project_id ,p.image_rename, p.project_name, p.end_date, pm.payment_id
					from project p
					join payment pm on(p.project_id=pm.project_id) where pm.member_id=#{member_id} and p.project_name like #{project_name}
					order by p.project_id desc, pm.payment_id desc
		]]>
	</select>

	<select id="myquestionlist" resultMap="MyQuestion">
		select * from question
		where send_member_id=#{send_member_id} order by send_creation_date
		desc
	</select>

	<select id="myRQuestion" resultMap="MyQuestion">
		select * from question where
		receive_member_id=#{receive_member_id} order by send_creation_date desc
	</select>

	<select id="questionCategory" resultMap="CategoryList">
		<![CDATA[
			SELECT * FROM QUESTION_CATEGORY
		]]>
	</select>

	<select id="myQdetail" resultType="MyQuestion" parameterType="int">
		<![CDATA[
			select * from question where question_id=#{question_id}
		]]>
	</select>

	<select id="rmyQdetail" resultType="MyQuestion" parameterType="int">
		<![CDATA[
			select * from question where question_id=#{question_id}
		]]>
	</select>

	<select id="receiveQdetail" resultType="MyQuestion"
		parameterType="int">
		<![CDATA[
			select * from question where question_id=#{question_id}
		]]>
	</select>

	<insert id="insertQuestion" parameterType="MyQuestion">
		<![CDATA[
			insert into question values((select nvl(max(question_id+1), 1) from question), 
										#{question_category_id} , #{receive_member_id}, #{send_member_id}, 
										#{title}, #{content}, null, sysdate, null)
		]]>
	</insert>

	<update id="receiveQ" parameterType="MyQuestion">
		<![CDATA[
			update question set receive_creation_date=sysdate, receive_member_id=#{receive_member_id}, re_content=#{re_content}
			where question_id=#{question_id}
		]]>
	</update>
</mapper>
