<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="paymentMapper">

	<resultMap id="payInfoMap" type="SellerInfo">
		<result property="project_id" column="project_id" />
		<result property="project_name" column="project_name" />
		<result property="memer_name" column="member_name" />
		<result property="profile_img_rename" column="profile_img_rename"/>
		<result property="end_date" column="end_date" />
	</resultMap>
	
	<resultMap id="giftMap" type="PayGiftView">
		<result property="project_id" column="project_id" />
		<result property="gift_id" column="gift_id" />
		<result property="support_price" column="support_price" />
		<result property="capacity" column="capacity" />
		<result property="remain" column="remain" />
	</resultMap>
	
	<resultMap id="itemMap" type="GiftItem">
		<result property="gift_id" column="gift_id" />
		<result property="item_name" column="item_name" />
		<result property="count" column="count" />
	</resultMap>
	
	<resultMap id="memberMap" type="Member">
		<result property="member_id" column="member_id" />
		<result property="member_name" column="member_name" />
		<result property="email" column="email" />
		<result property="phone" column="phone" />
		<result property="address" column="address" />
	</resultMap>
	
	<resultMap id="paymentMap" type="Payment">
      <result property="payment_id" column="payment_id" />
      <result property="member_id" column="member_id" />
      <result property="project_id" column="project_id" />
      <result property="total_amount" column="total_amount" />
      <result property="payment_date" column="payment_date" />
      <result property="refund_date" column="refund_date" />
      <result property="refund_flag" column="refund_flag" />
      <result property="pay_option" column="pay_option" />
   </resultMap>
	
	<insert id="insertPayment" parameterType="Payment">
		<![CDATA[
			insert into payment values(#{payment_id}, #{member_id}, #{project_id}, #{total_amount} ,sysdate, null, 'N', #{ pay_option })
		]]>
	</insert>
	
	<update id="updatePayment" parameterType="String">
		<![CDATA[
			update payment set refund_date = sysdate, refund_flag = 'Y' where payment_id = #{payment_id}
		]]>
	</update>
	
	<select id="selctProjectInfo" parameterType="string" resultType="SellerInfo">
		<![CDATA[
			SELECT * FROM P_SELLERINFO WHERE PROJECT_ID = #{ project_id }
		]]>
	</select>
	
	<select id="selectAllGift" resultMap="giftMap" parameterType="string" resultType="list">
		<![CDATA[
			SELECT * FROM P_GIFT WHERE PROJECT_ID = #{ project_id }
		]]>
	</select>
	
	<select id="selectItems" resultMap="itemMap" parameterType="string" resultType="list">
		<![CDATA[
			SELECT * FROM P_ITEMS
		]]>
	</select>
	
	<select id="selectMemberInfo" resultMap="memberMap" parameterType="string">
		<![CDATA[
			SELECT * FROM MEMBER WHERE MEMBER_ID = #{ m_id }
		]]>
	</select>
	
	<select id="selectChoiceGift" resultMap="itemMap" parameterType="string" resultType="list">
		<![CDATA[
			SELECT * FROM P_ITEMS WHERE GIFT_ID = #{ g_id }
		]]>
	</select>
	
	<update id="adminRefund" parameterType="string">
		<![CDATA[
			update project set refund_flag = 'Y' where project_id = #{project_id}
		]]>
	</update>
	
	<select id="selectPayment" resultMap="paymentMap" parameterType="string">
		<![CDATA[
			SELECT PAYMENT_ID, PAY_OPTION FROM PAYMENT WHERE PROJECT_ID = #{project_id} AND REFUND_FLAG='N'
		]]>
	</select>

	<insert id="insertPaymentCount" parameterType="PaymentCount">
	
		<![CDATA[
			INSERT INTO PAYMENT_COUNT VALUES(#{payment_id}, #{project_id},#{gift_id},null,#{count})
		]]>
	</insert>


</mapper>