<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="projectstatusMapper">

	<resultMap id="CategoryResultMap" type="Category">
		<result column="category_id" property="category_id"/>
		<result column="category_name" property="category_name"/>
	</resultMap>
	<select id="selectAllCategory" resultMap="CategoryResultMap">
		<![CDATA[
			SELECT * FROM CATEGORY 
		]]>
	</select>
	
	<resultMap id="subCategoryResultMap" type="SubCategory">
		<result column="category_sub_id" property="category_sub_id"/>
		<result column="category_sub_name" property="category_sub_name"/>
		<result column="category_id" property="category_id"/>
	</resultMap>
	<select id="selectListSubCategoryByCaId" resultMap="subCategoryResultMap"
		parameterType="string">
		<![CDATA[
			SELECT * 
			FROM CATEGORY_SUB
			WHERE CATEGORY_ID = #{ categotyIf }
		]]>
	</select>
	
	<resultMap id="bankResultMap" type="Bank">
		<result column="category_sub_id" property="category_sub_id"/>
		<result column="category_sub_name" property="category_sub_name"/>
		<result column="category_id" property="category_id"/>
	</resultMap>
	<select id="selectAllBank" resultMap="bankResultMap">
		<![CDATA[
			SELECT * FROM BANK
		]]>
	</select>
	
	<select id="insertProject" parameterType="Project">
		<![CDATA[
			INSERT INTO PROJECT VALUES( #{ project_id }, #{ project_category_id }, NULL,
							NULL, #{ member_id }, NULL, NULL, 
							NULL, DEFAULT, SYSDATE, NULL, NULL, 
							NULL, NULL, 'N', 'N', DEFAULT, 'N'
			)
		]]>
	</select>
	
	<select id="updateProject" parameterType="Project">
		<![CDATA[
			UPDATE PROJECT SET
			CATEGORY_SUB_ID = #{ category_sub_id },
			PROJECT_NAME = #{ project_name },
			REP_CONTENT = #{ rep_content },
			TARGET_AMOUNT = #{ target_amount },
			END_DATE = #{ end_date, jdbcType=DATE },
			PAYMENT_DATE = #{ payment_date, jdbcType=DATE },
			REFUND_ROLE = #{ refund_role },
			CERTIF_FLAG = #{ certif_flag },
			PROJECT_REQUEST_FLAG = #{ project_request_flag }
			WHERE PROJECT_ID = #{ project_id }
		]]>
	</select>
	
	<select id="selectOneProject" parameterType="string"
		resultType="Project">
		<![CDATA[
				SELECT * 
				FROM PROJECT
				WHERE PROJECT_ID = #{ project_id }
			
		]]>
	</select>
	
	<select id="selectOneProjectContent" parameterType="string"
		resultType="ProjectContent">
		<![CDATA[
				SELECT * 
				FROM PROJECT_CONTENT
				WHERE PROJECT_ID = #{ project_id }
			
		]]>
	</select>
	
	<select id="selectOneProjectAccount" parameterType="string"
		resultType="ProjectAccount">
		<![CDATA[
				SELECT * 
				FROM PROJECT_ACCOUNT
				WHERE PROJECT_ID = #{ project_id }
			
		]]>
	</select>
	
	<select id="selectOneProjectStatusUpdate" parameterType="string"
		resultType="ProjectStatusUpdate">
		<![CDATA[
				SELECT * 
				FROM V_PROJECTSTATUSUPDATE
				WHERE PROJECT_ID = #{ project_id }
		]]>
	</select>
	
	<resultMap id="ItemResultMap" type="Item">
		<result column="item_id" property="item_id"/>
		<result column="item_name" property="item_name"/>
		<result column="project_id" property="project_id"/>
	</resultMap>
	<select id="selectListItem" resultMap="ItemResultMap"
		parameterType="string">
		<![CDATA[
			SELECT * 
			FROM ITEM
			WHERE PROJECT_ID = #{ project_id }
			ORDER BY ITEM_ID
		]]>
	</select>
	
	<resultMap id="GiftResultMap" type="Gift">
		<result column="gift_id" property="gift_id"/>
		<result column="support_price" property="support_price"/>
		<result column="capacity" property="capacity"/>
		<result column="project_id" property="project_id"/>
	</resultMap>
	<select id="selectListGift" resultMap="GiftResultMap"
		parameterType="string">
		<![CDATA[
			SELECT * 
			FROM GIFT
			WHERE PROJECT_ID = #{ project_id }
			ORDER BY SUPPORT_PRICE
		]]>
	</select>
	
	<resultMap id="GiftInItemsResultMap" type="GiftInItems">
		<result column="gift_id" property="gift_id"/>
		<result column="item_id" property="item_id"/>
		<result column="count" property="count"/>
	</resultMap>
	<select id="selectListGiftInItems" resultMap="GiftInItemsResultMap"
		parameterType="string">
		<![CDATA[
			SELECT * 
			FROM GIFT_IN_ITEMS
			WHERE PROJECT_ID = #{ project_id }
		]]>
	</select>
	
	<resultMap id="GiftInItemsUpdateResultMap" type="GiftInItemsUpdate">
		<result column="gift_id" property="gift_id"/>
		<result column="item_id" property="item_id"/>
		<result column="count" property="count"/>
		<result column="project_id" property="project_id"/>
	</resultMap>
	<select id="selectListGiftInItemsUpdate" resultMap="GiftInItemsUpdateResultMap"
		parameterType="string">
		<![CDATA[
			SELECT * 
			FROM V_GIFTINITEMSUPDATE
			WHERE PROJECT_ID = #{ project_id }
		]]>
	</select>
	

	<resultMap id="ProductResultMap" type="Product">
		<result column="product_id" property="product_id"/>
		<result column="project_id" property="project_id"/>
		<result column="product_name" property="product_name"/>
		<result column="product_price" property="product_price"/>
		<result column="mincount" property="mincount"/>
	</resultMap>
	<select id="selectListProduct" resultMap="ProductResultMap"
		parameterType="string">
		<![CDATA[
			SELECT * 
			FROM PRODUCT
			WHERE PROJECT_ID = #{ project_id }
		]]>
	</select>
	
	
	<update id="updateProjectToUploadImg" parameterType="Project">
		<![CDATA[
				UPDATE PROJECT SET
				IMAGE_ORINAME = #{ image_oriname },
				IMAGE_RENAME = #{ image_rename }
				WHERE PROJECT_ID = #{ project_id }
			
		]]>
	</update>

	<select id="selectOneProjectIdSeq" resultType="int">
		<![CDATA[
				SELECT PROJECT_ID_SEQ.NEXTVAL 
				FROM DUAL
		]]>
	</select>
	
	<select id="insertProjectContent" parameterType="ProjectContent">
		<![CDATA[
			INSERT INTO PROJECT_CONTENT VALUES( #{ project_id }, #{ video_url }, #{ content } )
		]]>
	</select>
	
	<select id="updateProjectContent" parameterType="ProjectContent">
		<![CDATA[
			UPDATE PROJECT_CONTENT SET
			VIDEO_URL = #{ video_url },
			CONTENT = #{ content }
			WHERE PROJECT_ID = #{ project_id }
		]]>
	</select>
	
	<select id="updateProjectAccount" parameterType="ProjectAccount">
		<![CDATA[
			UPDATE PROJECT_ACCOUNT SET
			BANK_ID = #{ bank_id },
			ACCOUNT_NAME = #{ account_name },
			ACCOUNT_NUMBER = #{ account_number }
			WHERE PROJECT_ID = #{ project_id }
		]]>
	</select>

	
	<select id="insertProjectAccount" parameterType="ProjectAccount">
		<![CDATA[
			INSERT INTO PROJECT_ACCOUNT VALUES( #{ project_id }, #{ bank_id }, #{ account_name }, #{ account_number } )
		]]>
	</select>
	
	<select id="insertGift" parameterType="Gift">
		<![CDATA[
			INSERT INTO GIFT VALUES( #{ gift_id }, #{ support_price }, #{ capacity }, #{ project_id } )
		]]>
	</select>
	
	<select id="insertItem" parameterType="Item">
		<![CDATA[
			INSERT INTO ITEM VALUES( #{ item_id }, #{ item_name }, #{ project_id } )
		]]>
	</select>
	
	<select id="insertGiftInItem" parameterType="GiftInItems">
		<![CDATA[
			INSERT INTO GIFT_IN_ITEMS VALUES( #{ gift_id }, #{ item_id }, #{ count } )
		]]>
	</select>
	
	<select id="insertProduct" parameterType="Product">
		<![CDATA[
			INSERT INTO PRODUCT VALUES( #{ product_id }, #{ project_id }, #{ product_name }, #{ product_price }, #{ mincount } )
		]]>
	</select>
	
	<update id="deleteGift" parameterType="string">
		<![CDATA[
			DELETE FROM GIFT 
			WHERE PROJECT_ID = #{ project_id }
		]]>
	</update>
	
	<update id="deleteItem" parameterType="string">
		<![CDATA[
			DELETE FROM ITEM 
			WHERE PROJECT_ID = #{ project_id }
		]]>
	</update>
	
	<update id="deleteProduct" parameterType="string">
		<![CDATA[
			DELETE FROM PRODUCT 
			WHERE PROJECT_ID = #{ project_id }
		]]>
	</update>


</mapper>
