<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="projectdetailMapper"><!--comment-->
 	
	
	<select id="selectHotList" resultType="HotListView">
	<![CDATA[
		select project_name,project_id, likecount from v_hotlist
	]]>
	</select>
	
	<insert id="insertReport"  parameterType="Report">
	<![CDATA[
		insert into Report values(seq_report.nextval,'R-PROJ',#{project_id},null,null,null,#{report_reason},#{member_id},sysdate,'N')
	]]>
	</insert>
	
	<select id="selectLikes" parameterType="String" resultType="int">
	<![CDATA[
		select count(project_id) from likes where project_id= #{project_id}
	]]>
	</select>
	
	<select id="existLike" parameterType="Likes" resultType="Likes">
	<![CDATA[
		select * from likes where project_id=#{project_id} and member_id=#{member_id} 
	]]>
	</select>
	
	<insert id="addLikes"  parameterType="Likes">
	<![CDATA[
			insert into Likes values(#{project_id},#{member_id})
	]]>
	</insert>
	
	<delete id="deleteLike" parameterType="Likes">
		<![CDATA[
			delete from Likes where project_id=#{project_id} and member_id=#{member_id}
		]]>
	</delete>
	
	<insert id="insertQuestion"  parameterType="Question">
	<![CDATA[
			insert into Question values(seq_question.nextval,'Q-SEL','jieun',#{send_member_id},
				#{title},#{content},null,sysdate,null)
	]]>
	</insert>
	
	<resultMap id="proview" type="ProjectView">
			<result property="project_id" column="project_id"/>
			<result property="project_name" column="project_name"/>
			<result property="member_name" column="member_name"/>
			<result property="rep_content" column="rep_content"/>
			<result property="target_amount" column="target_amount"/>
			<result property="start_date" column="start_date"/>
			<result property="end_date" column="end_date"/>
			<result property="payment_date" column="payment_date"/>
			<result property="refund_role" column="refund_role"/>
			<result property="video_url" column="video_url"/>
			<result property="content" column="content"/>
			<result property="project_category_id" column="project_category_id"/>
			<result property="project_category_name" column="project_category_name"/>
			<result property="category_sub_id" column="category_sub_id"/>
			<result property="category_sub_name" column="category_sub_name"/>
			<result property="category_id" column="category_id"/>
			<result property="category_name" column="category_name"/>
			<result property="total_amount" column="total_amount"/>
			<result property="percent" column="percent"/>
		
	</resultMap>	
	
	<select id="selectProView" parameterType="String" resultMap="proview">
	<![CDATA[
		select * from v_project where project_id=#{project_id}
	]]>
	</select>
	
	<select id="selectloginTime" parameterType="LoginTimeView" resultType="LoginTimeView">
	<![CDATA[
		select * from v_logintime where member_id=#{member_id}
	]]>
	</select>
	
	<select id="selectMemberId" parameterType="String" resultType="Project">
	
	<![CDATA[
		select * from project where project_id=#{project_id}
	]]>
	</select>
	
	<select id="selectcount" parameterType="String" resultType="int">
	
	<![CDATA[
		select count(#{member_id}) from project where member_id= #{member_id} 
	]]>
	</select>
	
	<resultMap id="suppoterList" type="SuppoterView">
		<result property="project_id" column="project_id"></result>
		<result property="member_id" column="member_id"></result>
		<result property="member_name" column="member_name"></result>
		<result property="project_category_name" column="project_category_name"></result>
		<result property="payment_date" column="payment_date"></result>
		<result property="refund_flag" column="refund_flag"></result>
		<result property="profile_img_rename" column="profile_img_rename"></result>
	</resultMap>
	
	
	<select id="selectSuppoterList" parameterType="String" resultMap="suppoterList">
	
	<![CDATA[
		select * from v_suppoter where project_id=#{project_id}
	]]>
	</select>
	
	<resultMap id="glist" type="GiftListView">
		<result property="project_id" column="project_id"></result>
		<result property="gift_id" column="gift_id"></result>
		<result property="capacity" column="capacity"></result>
		<result property="payment_date" column="payment_date"></result>
		<result property="support_price" column="support_price"></result>
	</resultMap>
	
	
	
	<select id="selectGlist" parameterType="String" resultMap="glist">
	
	<![CDATA[
		select * from v_giftlist where project_id=#{project_id}
	]]>
	</select>

	<resultMap id="giftlist" type="GiftView">
		<result property="project_id" column="project_id"></result>
		<result property="gift_id" column="gift_id"></result>
		<result property="item_name" column="item_name"></result>
		<result property="count" column="count"></result>
		
	</resultMap>
	
	<select id="selectGiftList" parameterType="String" resultMap="giftlist">
	
	<![CDATA[
		select * from v_gift where project_id=#{project_id}
	]]>
	</select>
	
	
	
	<resultMap id="SellCount" type="SellCountView">
		<result property="project_id" column="project_id"></result>
		<result property="gift_id" column="gift_id"></result>
		<result property="sum_count" column="sum_count"></result>
	</resultMap>
	
	<select id="selectSellCount" parameterType="String" resultMap="SellCount">
	
	<![CDATA[
		select * from v_sellCount where project_id=#{project_id}
	]]>
	</select>


</mapper>
