<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="projectdetailMapper"><!--comment-->
 	<resultMap id="hotListMap" type="HotListView">
		<result property="project_name" column="project_name"/>
		<result property="project_id" column="project_id"/>
		<result property="likecount" column="likecount"/>
		
	</resultMap> 
	
	<select id="selectHotList" resultType="HotListView">
	<![CDATA[
		select project_name,project_id, likecount from v_hotlist
	]]>
	
	</select>
		<select id="selectGiftList" resultType="GiftView">
	<![CDATA[
		select * from v_gift
	]]>
	</select>
	<insert id="insertReport"  parameterType="Report">
	<![CDATA[
		insert into Report values(seq_report.nextval,'R-PROJ',#{project_id},null,null,null,#{report_reason},#{member_id},sysdate,'N')
	]]>
	</insert>
	<select id="selectLikes" parameterType="String" resultType="int">
	<![CDATA[
		select count(project_id) from likes where project_id= #{project_id}
	]]>
	</select>
	<select id="existLike" parameterType="Likes" resultType="Likes">
	<![CDATA[
		select * from likes where project_id=#{project_id} and member_id=#{member_id} 
	]]>
	</select>
	<insert id="addLikes"  parameterType="Likes">
	<![CDATA[
			insert into Likes values(#{project_id},#{member_id})
	]]>
	</insert>
	
	<delete id="deleteLike" parameterType="Likes">
		<![CDATA[
			delete from Likes where project_id=#{project_id} and member_id=#{member_id}
		]]>
	</delete>
	
	<insert id="insertQuestion"  parameterType="Question">
	<![CDATA[
			insert into Question values(seq_question.nextval,'Q-SEL','jieun',#{send_member_id},
				#{title},#{content},null,sysdate,null)
	]]>
	</insert>







</mapper>
