<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="projectListMapper">

	<select id="selectProjectList" resultType="ProjectListView">
		<![CDATA[
			select * from v_projectList 
		]]>
	</select>
	
	<select id="selectProductList" resultType="ProductListView">
		<![CDATA[
			select * from v_productList
		]]>
	</select>
	
	<select id="selectEndProject" resultType="ProjectListView">
		<![CDATA[
			select * from v_projectListEnd 
		]]>
	</select>
	
	<select id="selectEndProduct" resultType="ProductListView">
		<![CDATA[
			select * from v_productListEnd
		]]>
	</select>
	
	<select id="selectEndProjectList" resultType="ProjectListView">
		<![CDATA[
			
			select * from (select * from v_projectList order by dday) where rownum < 7
		]]>
	</select>
	
	<select id="selectEndProductList" resultType="ProductListView">
		<![CDATA[
			select * from  (select * from v_productList order by dday) where rownum <7
		]]>
	</select>
	
	<select id="selectProjectListKeyword" parameterType="String" resultType="ProjectListView">
			select * from v_projectList where project_name like #{keyword}
	</select>
	
	<select id="selectProjectListCategory" parameterType="hashmap" resultType="ProjectListView">
			select * from v_projectList where category_sub_id in 
				<foreach collection="category_sub_id" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
	</select>
	
	<select id="selectKeywordCategory" parameterType="hashmap" resultType="ProjectListView">
			select * from v_projectList where project_name like #{project_name} and category_sub_id in
				<foreach collection="category_sub_id" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
	</select>
	
	
	
	<select id="selectProductListKeyword" parameterType="String" resultType="ProductListView">
			select * from v_productList where project_name like #{keyword}
	</select>
	
	<select id="selectProductListCategory" parameterType="hashmap" resultType="ProductListView">
			select * from v_productList where category_sub_id in 
				<foreach collection="category_sub_id" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
	</select>
	
	<select id="selectProductKeywordCategory" parameterType="hashmap" resultType="ProductListView">
			select * from v_productList where project_name like #{project_name} and category_sub_id in
				<foreach collection="category_sub_id" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
	</select>

</mapper>
