@charset "UTF-8";

body, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td,
	form, fieldset, legend, input, textarea, button, select {
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: #676363;
	font-family: Roboto, 'Noto Sans KR', sans-serif;
}

.wd-layout-sub-content {
	padding-top: 7px;
	overflow: hidden;
}

.reward, .reward-not-story {
	margin-bottom: 1px;
	overflow: visible;
}

* {
	box-sizing: content-box;
	box-sizing: border-box;
}
/* ++++++++++++++++++++++++++++++ */
.reward-not-story .reward-header, .reward .reward-header {
	display: none;
	position: relative;
	padding: 60px 0 55px;
	overflow: hidden;
}

.reward-header {
	background: #001328 !important;
}

.reward-not-story .reward-header:before, .reward .reward-header:before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	clear: both;
	z-index: 2;
	margin-bottom: 0;
	background: linear-gradient(0deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .4));
	width: 100%;
	height: 100%;
	content: "";
}

.reward-header:before, .reward-header .bg {
	display: none !important;
}

.reward-header:before {
	background: linear-gradient(to top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .4));
	display: block !important;
	content: '';
	clear: both;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.reward-not-story .reward-header .bg, .reward .reward-header .bg {
	display: block;
	position: absolute;
	top: -20px;
	right: -20px;
	bottom: -20px;
	left: -20px;
	z-index: 1;
	background-repeat: no-repeat;
	background-position: 50% 30%;
	background-size: cover;
	-webkit-filter: blur(10px);
}

.reward-not-story .reward-header a, .reward-not-story .reward-header div,
	.reward .reward-header a, .reward .reward-header div {
	box-sizing: border-box;
}

.reward .reward-header .title-info {
	position: relative;
	z-index: 4;
	margin-bottom: 20px;
	text-align: center;
	line-height: 20px;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}

.reward-not-story .reward-header .title-info em, .reward .reward-header .title-info em
	{
	display: inline-block;
	margin-right: 5px;
	height: 28px;
	line-height: 28px;
	color: #F7D358;
	font-weight: 500;
}

em, address {
	font-style: normal;
}

.reward .reward-header .title {
	position: relative;
	z-index: 3;
	padding-right: 30px;
	padding-left: 30px;
	text-align: center;
	line-height: 42px;
	color: #fff;
	font-size: 36px;
	font-weight: 500;
}

.reward-not-story .reward-header .title a, .reward .reward-header .title a
	{
	color: #fff;
}

.reward-not-story .reward-header a, .reward-not-story .reward-header div,
	.reward .reward-header a, .reward .reward-header div {
	box-sizing: border-box;
}

.reward-header .bg {
	position: absolute;
	left: -20px;
	top: -20px;
	right: -20px;
	bottom: -20px;
	display: block !important;
	background-position: 50% 30%;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-filter: blur(10px);
	z-index: 1;
}
/* ****************************** */
.reward-not-story .reward-nav li .count-total, .reward .reward-nav li .count-total
	{
	position: relative;
	top: -2px;
	color: #F7D358;
	font-size: 12px;
}

a {
	text-decoration: none;
	outline: none;
	color: #676363;
}

.reward-not-story .reward-nav, .reward .reward-nav {
	position: sticky;
	top: 0;
	z-index: 99;
	margin-bottom: 0;
	box-shadow: inset 0 -1px 0 0 #ddd;
	height: 52px;
	text-align: center;
	overflow-y: hidden;
	background: hsla(0, 0%, 100%, .95);
}

.reward-not-story .reward-nav .tab-list, .reward .reward-nav .tab-list {
	transition-property: -webkit-transform;
	transition-timing-function: cubic-bezier(.18, .35, .56, 1);
	margin: 0 auto -30px;
	width: 100%;
	max-width: 1000px;
	height: 80px;
	white-space: nowrap;
	overflow-x: scroll;
}

ul, ol {
	list-style: none;
}

ul, menu, dir {
	display: block;
	list-style-type: disc;
}

.reward-not-story .reward-nav li, .reward .reward-nav li {
	display: inline-block;
}

.reward-not-story .reward-nav li.active a, .reward .reward-nav li.active a
	{
	position: relative;
	border-bottom: 0;
	color: #0d0f12;
}

.reward-not-story .reward-nav li .tab-link, .reward .reward-nav li .tab-link
	{
	display: block;
	padding: 16px 17px;
	height: 53px;
	line-height: 17px;
	font-size: 15px;
}

.reward-not-story .reward-nav li.active a:before, .reward .reward-nav li.active a:before
	{
	display: block;
	position: absolute;
	right: 17px;
	bottom: 1px;
	left: 17px;
	background-color: #F7D358;
	height: 2px;
	content: "";
}

.reward-not-story .reward-nav li .tab-link[data-tab-reward=true],
	.reward .reward-nav li .tab-link[data-tab-reward=true] {
	display: block;
}

.reward-not-story .reward-nav li .tab-link, .reward .reward-nav li .tab-link
	{
	display: block;
	padding: 16px 17px;
	height: 53px;
	line-height: 17px;
	font-size: 15px;
	cursor: pointer;
}
/* **************************** */
.reward-not-story .reward-body-wrap, .reward .reward-body-wrap {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	max-width: 1024px;
}

.wd-ui-sub-contents {
	padding: 28px 0 20px 0;
	border-top: 2px solid #fff;
}

.reward-not-story .reward-body-wrap .wd-ui-sub-contents, .reward .reward-body-wrap .wd-ui-sub-contents
	{
	position: relative;
	border-top: inherit;
}

.reward-not-story .wd-ui-info-wrap, .reward .wd-ui-info-wrap {
	display: flex;
	flex-direction: column;
}

.wd-ui-info-wrap {
	overflow: hidden;
}

.wd-ui-sub-contents {
	padding: 28px 0 20px 0;
	border-top: 2px solid #fff;
}

.reward-not-story .reward-body-wrap .wd-ui-sub-contents, .reward .reward-body-wrap .wd-ui-sub-contents
	{
	position: relative;
	border-top: inherit;
}

.reward-not-story .wd-ui-info-wrap, .reward .wd-ui-info-wrap {
	display: flex;
	flex-direction: column;
}

.reward-not-story .wd-ui-sub-opener-info, .reward .wd-ui-sub-opener-info
	{
	order: 2;
	float: none;
	transition: padding .25s;
	padding: 0 16px;
	width: 100% !important;
	box-sizing: border-box !important;
}

.project-state-info {
	width: 100%;
	margin-bottom: 15px;
	font-family: Roboto, 'Noto Sans KR', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.project-state-info .state-box {
	width: 100%;
}

.project-state-info .state-box p.remaining-day {
	font-size: 22px;
	font-weight: 500;
	color: #4a4a4a;
}

.project-state-info .state-box p.rate-bar {
	width: 100%;
	height: 3px;
	background: #ddd;
	overflow: hidden;
}

.project-state-info .state-box p {
	margin-bottom: 25px;
	color: #4a4a4a;
	font-size: 15px;
}

.project-state-info .state-box p.rate-bar em {
	display: block;
	height: 3px;
	background: #F7D358;
}

.project-state-info .state-box p strong {
	padding-right: 5px;
	font-size: 22px;
	font-weight: 500;
}

.project-state-info .btn-wrap.funding {
	width: 100%;
	margin-bottom: 10px;
	padding-top: 10px;
}

.block.wz-btn, .fluid.wz-btn, .wzui a.block.btn, .wzui a.fluid.btn,
	.wzui button.block, .wzui button.fluid, .wzui input.block[type=button],
	.wzui input.block[type=submit], .wzui input.fluid[type=button], .wzui input.fluid[type=submit]
	{
	margin-bottom: .25em;
	width: 100%;
}

.large.wz-btn, .wzui a.large.btn, .wzui button.large, .wzui form.large .wz-btn,
	.wzui form.large a.btn, .wzui form.large button, .wzui form.large input[type=button],
	.wzui form.large input[type=submit], .wzui input.large[type=button],
	.wzui input.large[type=submit] {
	padding: 0 24px;
	height: 48px;
	line-height: 48px;
	font-size: 17px;
}

.primary.wz-btn, .wzui a.primary.btn, .wzui button.primary, .wzui form button[type=submit],
	.wzui form input[type=submit], .wzui input.primary[type=button], .wzui input.primary[type=submit]
	{
	background-color: #F7D358;
	color: #fff;
}

.primary-outline.wz-btn, .primary.wz-btn, .wzui a.primary-outline.btn,
	.wzui a.primary.btn, .wzui button.primary, .wzui button.primary-outline,
	.wzui form button[type=submit], .wzui form input[type=submit], .wzui input.primary-outline[type=button],
	.wzui input.primary-outline[type=submit], .wzui input.primary[type=button],
	.wzui input.primary[type=submit] {
	border-color: #F7D358;
}

.wz-btn, .wzui a.btn, .wzui button, .wzui input[type=button], .wzui input[type=submit]
	{
	transition-property: background-color, border-color, color, opacity;
	transition-duration: .2s;
	border: 1px solid #dadce0;
	border-radius: 0;
	background: #fff;
	cursor: pointer;
	padding: 0 16px;
	height: 36px;
	vertical-align: middle;
	line-height: 34px;
	color: #7c8288;
	font-size: 15px;
	font-weight: 400;
	box-sizing: border-box !important;
	-webkit-appearance: none;
}

.project-state-info .btn-wrap.share {
	width: 100%;
	margin-bottom: 10px;
}

.reward-not-story .wd-ui-sub-opener-info .project-state-info .btn-like,
	.reward-not-story .wd-ui-sub-opener-info .project-state-info .btn-share,
	.reward .wd-ui-sub-opener-info .project-state-info .btn-like, .reward .wd-ui-sub-opener-info .project-state-info .btn-share
	{
	box-sizing: border-box !important;
}

.project-state-info .btn-share {
	float: right;
	display: block;
	width: 48%;
	height: 38px;
	line-height: 38px;
	color: #4a4a4a;
	background: #fff;
	border: 1px solid #dadce0;
}

.project-state-info .btn-like {
	float: left;
	width: 48%;
	height: 38px;
	background: #fff;
	border: 1px solid #dadce0;
}

.project-state-info .btn-like i.icon-like {
	display: inline-block;
	width: 18px;
	height: 16px;
	margin-right: 3px;
	vertical-align: middle;
	background: url(하트.png) no-repeat 0 0;
	background-size: 100% auto;
}

.project-state-info .btn-like em {
	vertical-align: middle;
	line-height: 38px;
	color: #4a4a4a;
	font-size: 15px;
}

.project-state-info .share-section {
	width: 100%;
	height: 0;
	margin-bottom: 10px;
	overflow-y: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.project-state-info .share-list {
	padding: 14px 0;
	text-align: center;
	border: 1px solid #dadce0;
	margin-top: 10px;
}

.project-maker-info {
	width: 100%;
	padding-top: 20px;
	font-family: Roboto, 'Noto Sans KR', sans-serif;
}

.project-right-title {
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 12px;
	color: #777;
	font-family: Roboto, 'Noto Sans KR', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.project-maker-info .maker-box {
	border: 1px solid #eaeaea;
}

.project-maker-info .maker-info {
	padding: 20px 19px 20px;
	border-bottom: 1px solid #eaeaea;
}

.project-maker-info .maker-info dl {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.project-maker-info .maker-info dt button {
	display: block;
	padding: 0;
	margin: 0;
	width: 80px;
	height: 80px;
	background: no-repeat 0 0;
	background-size: cover;
	border: 1px solid #d6d7d8;
	border-radius: 50%;
}

.project-maker-info .maker-info dd {
	display: table-cell;
	width: auto;
	padding-left: 20px;
	vertical-align: top;
}

.project-maker-info .maker-info .name {
	margin-bottom: 7px;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	color: #555;
}

.project-maker-info .maker-info .website {
	margin-bottom: 15px;
	padding-left: 1px;
}

.project-maker-info .maker-info .website li a {
	display: block;
	width: 100%;
	font-size: 11px;
	line-height: 16px;
	word-wrap: break-word;
	word-break: break-all;
}

.project-maker-info .maker-info .social {
	text-align: left;
	padding-left: 1px;
}

.project-maker-info .maker-info .social li {
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
	text-align: left;
}

.project-maker-info .maker-info .social li a.facebook {
	background-image:
		url(/resources/static/img/common/icon_blue_facebook.png);
}

.project-maker-info .maker-info .social li a {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: no-repeat 0 0;
	background-size: cover;
}
/* 창작자 소개 */
.bJXRvz {
	font-size: 12px;
	width: 100%;
	background-color: #fff;
	border: 1px solid hsla(220, 6%, 59%, .3);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
	-webkit-transition: box-shadow .2s ease-in-out;
	transition: box-shadow .2s ease-in-out;
}

.cBbkfc {
	padding: 1.5rem;
}

.fuCNpE {
	font-weight: bolder;
	margin-bottom: 1.25rem;
}

.eYscdN {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 1rem;
}

.dHxdxH {
	word-break: keep-all;
	line-height: 1.75;
}

.ilHpOi {
	border-top: 1px solid #efefef;
	margin: 1rem 0;
	height: 0;
}

.iBGoJt {
	color: #757575;
	font-size: .9rem;
	line-height: 1.7;
}

.iBGoJt>div {
	margin-bottom: .25rem;
}

.khYIRi {
	margin-top: 1rem;
	width: 100%;
}

.dxWcyc {
	padding: 1em 1.5em;
	font-size: 1em;
	width: 100%;
	opacity: 1;
}

.dxWcyc {
	color: rgba(0, 0, 0, .6);
	background-color: #e7e7e7;
}

.dxWcyc {
	color: rgba(0, 0, 0, .6);
	background-color: #e7e7e7;
}

.dxWcyc {
	cursor: pointer;
	display: inline-block;
	min-height: 1em;
	outline: none;
	border: none;
	vertical-align: baseline;
	box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px
		rgba(0, 0, 0, 0.1) inset;
	-webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color
		0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
	transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s
		ease, box-shadow 0.1s ease, background 0.1s ease;
	margin: 0 .25em 0 0;
	border-radius: 0.28571429rem;
	text-transform: none;
	text-shadow: none;
	font-weight: bold;
	line-height: 1em;
	font-style: normal;
	text-align: center;
	text-decoration: none;
}

.dxWcyc>i {
	margin: 0 .42857143em 0 -.21428571em;
}

i._1QY7TzdLHKX3-BKPDNNYKF {
	display: inline-block;
	opacity: 1;
	margin: 0 .25rem 0 0;
	width: 1.18em;
	height: 1em;
	font-family: Icons;
	font-style: normal;
	font-weight: 400;
	text-decoration: inherit;
	text-align: center;
	speak: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

i._1QY7TzdLHKX3-BKPDNNYKF._3YmAkQhwzI7o-uUWz_8Mp4:before {
	content: "\F0E0";
}

reward-not-story .wd-ui-sub-opener-info .project-report,
	.reward-not-story .wd-ui-sub-opener-info .project-report-mobile,
	.reward .wd-ui-sub-opener-info .project-report, .reward .wd-ui-sub-opener-info .project-report-mobile
	{
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid hsla(220, 6%, 59%, .3);
	padding: 12px 16px;
}

.wz-message-box, .wzui .message-box {
	margin: 24px auto;
	border: 1px solid #babdc0;
	background: #f5f7fa;
	padding: 16px;
	color: #7c8288;
	font-size: 13px;
}

.wd-ui-sub-opener-info .wd-ui-gift {
	margin-top: 20px;
}

.reward-not-story .rightinfo-reward-list, .reward .rightinfo-reward-list
	{
	padding: 0;
}

.top-info {
	padding: 20px;
	background: #fff;
}

.rightinfo-reward-list .reward-info {
	margin-bottom: 20px;
}

button * {
	position: relative;
}

.rightinfo-reward-list .reward-info dt {
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #00132C;
}

.rightinfo-reward-list .reward-info dd p.reward-name {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 21px;
	color: #4a4a4a;
}

.rightinfo-reward-list .reward-info dd p {
	font-size: 12px;
	line-height: 19px;
	color: #929292;
}

.rightinfo-reward-list .reward-info dd p {
	font-size: 12px;
	line-height: 19px;
	color: #929292;
}

.rightinfo-reward-list .data-info {
	width: 100%;
	margin-bottom: 20px;
}

.rightinfo-reward-list .data-info li {
	float: left;
	font-size: 12px;
	line-height: 22px;
	color: #9b9b9b;
}

.rightinfo-reward-list .reward-qty {
	margin-bottom: 5px;
	font-size: 12px;
	line-height: 21px;
	color: #c88af9;
}

.rightinfo-reward-list .reward-qty em {
	padding: 2px 6px;
	font-weight: 500;
	background: #f6ecfe;
}

.rightinfo-reward-list .reward-soldcount {
	font-size: 12px;
	line-height: 21px;
	color: #00132C;
}

.hover-text {
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	line-height: 23px;
}

.rightinfo-reward-list {
	position: relative;
	display: block;
	width: 100%;
	margin-bottom: 20px;
	background: #d19cfa;
	border: 1px solid #eaeaea;
	text-align: left;
	box-sizing: border-box;
}

.reward-not-story .wd-ui-sub-opener-info .recommend-box-container .recommend-box,
	.reward .wd-ui-sub-opener-info .recommend-box-container .recommend-box
	{
	float: none;
	margin-top: 18px;
	border: 1px solid #e4e4e4;
	background-color: #fff;
	padding: 20px;
	width: 100% !important;
	box-sizing: border-box;
}

.recommend-box {
	margin-top: 18px;
	float: right;
	width: 242px;
	border: 1px solid #e4e4e4;
	padding: 20px 20px;
	background-color: #fff;
}

.reward-not-story .wd-ui-sub-opener-info .recommend-box-container .recommend-box .title,
	.reward .wd-ui-sub-opener-info .recommend-box-container .recommend-box .title
	{
	margin: 5px 0 10px 5px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 3px;
	width: 100%;
	font-size: 16px;
	font-weight: 500;
}

.reward-not-story .wd-ui-sub-opener-info .recommend-box-container .recommend-box .number,
	.reward .wd-ui-sub-opener-info .recommend-box-container .recommend-box .number
	{
	display: inline-block;
	margin: 1px 8px 1px 0;
	background-color: #F7D358;
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	color: #fff;
	font-size: 12px;
	font-weight: 500;
}

.recommend-box .item .number {
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	display: inline-block;
	width: 18px;
	margin: 1px 8px 1px 0px;
	color: #fff;
	background-color: #BABDC0;
	font-weight: 500;
	text-align: center;
}

.recommend-box .item .text {
	height: 22px;
	font-size: 13px;
	line-height: 18px;
	width: 209px;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-top: 2px;
}

.top-info:hover {
	opacity: 0.2;
}

.rightinfo-reward-list.soldout {
	background: #263441;
}
/* ***************좌측**************** */
.reward .wd-ui-sub-opener-info .project-report-mobile {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid hsla(220, 6%, 59%, .3);
	padding: 12px 16px;
}
/* ***************좌측 서포터**************** */
.reward-not-story .supporter-tab .achieve-text, .reward .supporter-tab .achieve-text
	{
	display: block;
	padding: 23px 16px;
	line-height: 1.29;
	letter-spacing: -.6px;
	color: #0d0f12;
	font-size: 28px;
	font-weight: 300;
}

.reward-not-story .support-list figure, .reward .support-list figure {
	position: relative;
	margin: 0;
}

.reward-not-story .support-list .profile, .reward .support-list .profile
	{
	position: absolute;
	/* left: 16px; */
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	width: 36px;
	height: 36px;
}

.reward-not-story .support-list .info strong, .reward .support-list .info strong
	{
	/* color: #60656a; */
	font-weight: 400;
}

.reward-not-story .support-list .info strong span, .reward .support-list .info strong span
	{
	color: #0d0f12;
	font-weight: 500;
}

.reward-not-story .supporter-tab .achieve-text span, .reward .supporter-tab .achieve-text span
	{
	color: #F7D358;
	font-weight: 400;
}

figure {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 40px;
	-webkit-margin-end: 40px;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}
/*댓글 css  */
.comment-wrap {
	padding: 16px;
	position: relative;
	overflow: hidden;
	background: #fff;
	border-bottom: 1px solid #f0f2f5;
	letter-spacing: -.3px;
	border-top: 1px solid #e6eaed;
}

.comment-head {
	margin-bottom: 12px;
	padding-left: 48px;
	position: relative;
}

.comment-head .user-picture {
	position: absolute;
	left: 0;
	top: 0;
	width: 38px;
	height: 38px;
	background: url(/resources/static/img/common/img_blank.png) 50%
		no-repeat;
	background-size: cover;
	border-radius: 50%;
}

.comment-head .user-name {
	font-size: 15px;
	line-height: 20px;
	letter-spacing: -.3px;
	font-weight: 500;
}

.comment-head .date {
	font-size: 12px;
	line-height: 16px;
	letter-spacing: -.2px;
	color: #90949c;
}

.comment-content {
	font-size: 14px;
}

.wz-btn {
	transition-property: background-color, border-color, color, opacity;
	transition-duration: .2s;
	border: 1px solid #dadce0;
	border-radius: 0;
	background: #fff;
	cursor: pointer;
	vertical-align: middle;
	color: #7c8288;
	font-size: 10px;
	font-weight: 400;
	box-sizing: border-box !important;
	-webkit-appearance: none;
}

.comment-reply .comment-wrap {
	background: #fafbfc;
	padding-left: 50px;
}

.reward-comment .comment-wrap textarea {
	margin-bottom: 8px;
	width: 100%;
	box-sizing: border-box !important;
	padding: 10px;
	line-height: 20px;
	border-color: #dadce0;
}

.wz-textarea {
	border-color: #dadce0;
	background-color: #f0f2f5;
	cursor: default;
}

@media screen and (min-width: 767px) {
	.reward-not-story .reward-header, .reward .reward-header {
		display: block;
	}
	.reward-not-story .reward-nav, .reward .reward-nav {
		margin-bottom: 12px;
	}
	.reward-not-story .reward-nav .tab-list, .reward .reward-nav .tab-list {
		width: auto;
	}
	.reward-not-story .reward-nav li .tab-link[dsata-tab-reward=true],
		.reward .reward-nav li .tab-link[data-tab-reward=true] {
		display: none;
	}
	.reward-not-story .reward-body-wrap, .reward .reward-body-wrap {
		padding-bottom: 0;
	}
	.reward-not-story .wd-ui-info-wrap, .reward .wd-ui-info-wrap {
		display: block;
		padding: 0 30px;
		padding-right: env(safe-area-inset-right);
		padding-left: env(safe-area-inset-left);
	}
	.reward-not-story .wd-ui-info-wrap, .reward .wd-ui-info-wrap {
		display: block;
		padding: 0 30px;
	}
	.reward-not-story .wd-ui-sub-opener-info, .reward .wd-ui-sub-opener-info
		{
		float: right;
		padding: 0;
		width: 284px !important;
	}
	.reward-not-story .wd-ui-sub-opener-info .project-state-info, .reward .wd-ui-sub-opener-info .project-state-info
		{
		display: block;
	}
	.project-state-info .state-box p.remaining-day {
		font-size: 28px;
	}
	.reward-not-story .wd-ui-sub-opener-info .recommend-box-container .recommend-box .number,
		.reward .wd-ui-sub-opener-info .recommend-box-container .recommend-box .number
		{
		background: #babdc0;
	}
	margin-right: 300px ;.reward-not-story .wd-ui-sub-campaign-info-container,
		.reward .wd-ui-sub-campaign-info-container {
		
	}
	.reward-not-story .wd-ui-sub-campaign-info, .reward .wd-ui-sub-campaign-info
		{
		float: none !important;
		padding-right: 16px;
		max-width: 632px;
	}
	.reward-not-story .wd-ui-sub-campaign-info {
		padding: 0;
	}
	.reward-not-story .supporter-tab .achieve-text, .reward .supporter-tab .achieve-text
		{
		padding: 23px 0;
	}
	.reward-not-story .support-list .support-item, .reward .support-list .support-item
		{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.reward-not-story .support-list .info, .reward .support-list .info {
		margin-left: 62px;
		line-height: 1.65;
		font-size: 17px;
	}
	.reward-not-story .support-list .profile, .reward .support-list .profile
		{
		left: 0;
		width: 46px;
		height: 46px;
	}
	.reward-not-story .support-list .info abbr, .reward .support-list .info abbr
		{
		font-size: 13px;
	}
	.reward .wd-ui-sub-opener-info1 {
		float: left;
		padding: 0;
		width: 284px !important;
	}
}

@media screen and (min-width: 960px) {
	.project-state-info .state-box p strong {
		font-size: 24px;
	}
	.rightinfo-reward-list.ing {
		cursor: pointer;
	}
	.rightinfo-reward-list {
		display: inline-block;
		width: 280px;
		cursor: default;
		box-sizing: content-box;
	}
	.rightinfo-reward-list .hover-text {
		width: 280px;
	}
}

@media screen and (min-width: 1095px) {
	.reward-not-story .reward-body-wrap, .reward .reward-body-wrap {
		padding: 0 30px;
	}
}
.project-store img{
	max-width:100%;
}


/* 댓글  */
.comment-num {
    margin-bottom: 17px;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    padding: 0 16px;
}
.comment-create {
    margin-bottom: 24px;
}
.gray.wz-btn{
	background-color: #7c8288;
    color: #fff;
}
.wz-message-box {
    line-height: 1.5;
    margin: 0 0 16px;
    border-color: rgba(0,0,0,.1);
}
.wz-message-box, .wzui .message-box {
    margin: 24px auto;
    border: 1px solid #babdc0;
    background: #f5f7fa;
    padding: 16px;
    color: #7c8288;
    font-size: 13px;
}
.cBbkfc a, .wz-message-box a{
	color:#F7D358;
}
.cBbkfc a:hover, .wz-message-box a:hover{
	color:#F7D358;
	text-decoration:none;
}
.wz-message-box .title {
    margin-bottom: 8px;
    font-size: 13px;
    color: #44484b;
}
.main-comment {
    padding-right: 0;
    padding-left: 0;
    font-size: 14px;
}
.main-comment textarea {
    display: block;
    margin-bottom: 8px;
    width: 100%;
    height: 100px;
    box-sizing: border-box!important;
    padding: 10px;
    line-height: 20px;
    border-color: #dadce0;
    background: #fff;
}
.main-comment .btn-wrap {
    text-align: right;
}
.btn-wrap button{
	background-color: #F7D358;
    color: #fff;
    font-size:14px;
}
.comment-box{
	margin-top: 30px;
}
.comment-reply .comment-wrap:after {
    border-left: 1px solid #90949c;
    border-bottom: 1px solid #90949c;
    width: 8px;
    height: 8px;
    font-size: 0;
    content: '';
    display: block;
    position: absolute;
    left: 12px;
    top: 19px;
}