<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!-- vo 등록 -->
	<typeAliases>
		<typeAlias type="com.devone.finalp.common.model.vo.Member" alias="Member" />
		<typeAlias type="com.devone.finalp.board.model.vo.Board" alias="Board" />
		<typeAlias type="com.devone.finalp.common.model.vo.Category" alias="Category" />
		<typeAlias type="com.devone.finalp.common.model.vo.SubCategory" alias="SubCategory" />
		<typeAlias type="com.devone.finalp.common.model.vo.Bank" alias="Bank" />
		<typeAlias type="com.devone.finalp.common.model.vo.Gift" alias="Gift" />
		<typeAlias type="com.devone.finalp.common.model.vo.GiftInItems" alias="GiftInItems" />
		<typeAlias type="com.devone.finalp.common.model.vo.Item" alias="Item" />
		<typeAlias type="com.devone.finalp.common.model.vo.Product" alias="Product" />
		<typeAlias type="com.devone.finalp.common.model.vo.Project" alias="Project" />
		<typeAlias type="com.devone.finalp.common.model.vo.ProjectAccount" alias="ProjectAccount" />
		<typeAlias type="com.devone.finalp.common.model.vo.ProjectContent" alias="ProjectContent" />
		<typeAlias type="com.devone.finalp.board.model.vo.Board_Reply" alias="Board_Reply" />
		<typeAlias type="com.devone.finalp.board.model.vo.Board_Pagectr" alias="Board_Pagectr" />
		<typeAlias type="com.devone.finalp.common.model.vo.Payment" alias="Payment" />
		<typeAlias type="com.devone.finalp.common.model.vo.Report" alias="Report" />
		<typeAlias type="com.devone.finalp.common.model.vo.Likes" alias="Likes" />
		<typeAlias type="com.devone.finalp.common.model.vo.Question" alias="Question" />
		<typeAlias type="com.devone.finalp.common.model.vo.QuestionCategory" alias="QuestionCategory" />
		

		
		<typeAlias type="com.devone.finalp.pdetail.model.vo.GiftView" alias="GiftView"/>
		<typeAlias type="com.devone.finalp.pdetail.model.vo.MemberView" alias="MemberView"/>
		<typeAlias type="com.devone.finalp.pdetail.model.vo.ProjectView" alias="ProjectView"/>
		<typeAlias type="com.devone.finalp.pdetail.model.vo.ReplyView" alias="ReplyView"/>
		<typeAlias type="com.devone.finalp.pdetail.model.vo.SuppoterView" alias="SuppoterView"/>
		<typeAlias type="com.devone.finalp.pdetail.model.vo.HotListView" alias="HotListView"/>
		<typeAlias type="com.devone.finalp.pdetail.model.vo.LoginTimeView" alias="LoginTimeView"/>
		<typeAlias type="com.devone.finalp.pdetail.model.vo.GiftListView" alias="GiftListView"/>
		
		<typeAlias type="com.devone.finalp.admin.model.vo.AAlarm" alias="Aalarm" />
		<typeAlias type="com.devone.finalp.common.model.vo.Taboo" alias="Taboo" /> 
		<typeAlias type="com.devone.finalp.common.model.vo.Notice" alias="Notice" /> 
		<typeAlias type="com.devone.finalp.admin.model.vo.AReport" alias="AReport" />
		<typeAlias type="com.devone.finalp.admin.model.vo.AQuestion" alias="AQuestion" />
		<typeAlias type="com.devone.finalp.admin.model.vo.AProject" alias="AProject" />
		<typeAlias type="com.devone.finalp.admin.model.vo.AMember" alias="AMember" />
		<typeAlias type="com.devone.finalp.admin.model.vo.Astat" alias="Astat" />
	
		<typeAlias alias="ProjectStatusUpdate" type="com.devone.finalp.project_status.model.vo.ProjectStatusUpdate"/>
		<typeAlias alias="GiftInItemsUpdate" type="com.devone.finalp.project_status.model.vo.GiftInItemsUpdate"/>
		
		<typeAlias type="com.devone.finalp.payment.model.vo.PayGiftView" alias="PayGiftView" />
		<typeAlias type="com.devone.finalp.payment.model.vo.GiftItem" alias="GiftItem" />
		<typeAlias type="com.devone.finalp.payment.model.vo.SellerInfo" alias="SellerInfo" />
		
		<typeAlias type="com.devone.finalp.mypage.model.vo.MemberAccount" alias="MemberAccount"/>
		<typeAlias type="com.devone.finalp.mypage.model.vo.MyLikes" alias="MyLikes"/>
		<typeAlias type="com.devone.finalp.mypage.model.vo.PurchaseProduct" alias="PurchaseProduct"/>
		<typeAlias type="com.devone.finalp.mypage.model.vo.MyQuestion" alias="MyQuestion"/>
		
		
		<typeAlias type="com.devone.finalp.project_list.model.vo.ProjectListView" alias="ProjectListView"/>
		
		<typeAlias type="com.devone.finalp.realtime_top_rank.model.vo.RealTimeRankTopView" alias="RealTimeRankTopView"/>
	</typeAliases>
	
	<!-- mapper 등록 -->
	<mappers>
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/board-mapper.xml" />
		<mapper resource="mappers/projectstatus-mapper.xml" />
		<mapper resource="mappers/account-mapper.xml"/>
		<mapper resource="mappers/projectdetail-mapper.xml"/>
		<mapper resource="mappers/admin-mapper.xml"/>
		<mapper resource="mappers/myStatus-mapper.xml"/>
		<mapper resource="mappers/payment-mapper.xml"/>
		<mapper resource="mappers/projectlist-mapper.xml" />
		<mapper resource="mappers/realtimetoprank-mapper.xml" />
	</mappers>
</configuration>
